################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/obj/x64/Debug
/bin/x64/Debug 
/CMLManager.vcxproj.filters
/CMLManager.vcxproj.user
/bin/x64/Release
/obj/x64/Release
